<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true">
    <Appenders>
        <Appender type="Console" name="console">
            <Layout type="PatternLayout" pattern="%d [%t] %p %c - %m %n"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>